aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography
dnspython==2.8.0
dotenv==0.9.9
email-validator==2.3.0
Flask==3.1.2
frozenlist==1.8.0
gunicorn
http_ece==1.2.1
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
jinja_partials==0.3.0
MarkupSafe==3.0.3
multidict==6.7.0
packaging==25.0
passlib==1.7.4
pluggy==1.6.0
propcache==0.4.1
py-vapid==1.9.2
pycparser==2.23
Pygments==2.19.2
pytest==9.0.2
python-dotenv==1.2.1
pywebpush==2.1.2
requests==2.32.5
six==1.17.0
typing_extensions==4.15.0
urllib3==2.6.2
Werkzeug==3.1.4
yarl==1.22.0
