<!-- @format -->

{% extends 'admin/base.html' %} {% block contents %}
<form action="{{ url_for('admin_users.find_user') }}" method="POST">
	<input type="text" name="nom" id="name" placeholder="Récupérer utilisateur par nom" />
	<input type="text" name="username" id="username" placeholder="Récupérer utilisateur par username" />
	<input type="text" name="email" id="email" placeholder="Récupérer utilisateur par email" />
	<input type="number" name="age" id="age" placeholder="Récupérer utilisateur par age" />
	<select name="classe" id="classe">
		<option value="" selected="selected" disabled="disabled">Choisissez la classe</option>
		<option value="septieme">7e</option>
		<option value="huitieme">8e</option>
		<option value="neuvieme">9e</option>
		<option value="secondaire 1">NS1</option>
		<option value="secondaire 2">NS2</option>
		<option value="secondaire 3">NS3</option>
		<option value="secondaire 4">NS4</option>
	</select>
	<button type="submit">Rechercher</button>
</form>
{% endblock %}
