{% extends "base.html" %} 
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}" type="text/css" media="all" />{% endblock %} 

{% block content %}
<div class="match-details-page">
    <div class="match-banner">
        <div class="team-info"><span class="team-name">{{ match.equipe_a }}</span></div>
        <div class="match-status"><span class="vs-text">VS</span></div>
        <div class="team-info"><span class="team-name">{{ match.equipe_b }}</span></div>
    </div>

    <form action="{{ url_for('ajouter_au_ticket') }}" method="POST" class="bet-form">
        <input type="hidden" name="match_id" value="{{ match.match_id }}" />
        
        {% for categorie, options in categories.items() %}
            <h3 class="market-header">{{ categorie|replace('_', ' ')|upper }}</h3>
            <div class="options-container">
                {% for opt in options %}
                <div class="option-item">
                    <input type="radio" name="{{ match.match_id }}" id="opt-{{ opt['option_id'] }}" value="{{ opt['option_id'] }}" class="radio-input" />
                    <label for="opt-{{ opt['option_id'] }}" class="option-label">
                        <span class="label-text">{{ opt['libelle'] }}</span>
                        <span class="label-cote">{{ opt['cote'] }}</span>
                    </label>
                </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="bet-action" style="margin-top: 20px;">
            <button type="submit" class="btn-parier">Ajouter au Ticket +</button>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
{% endblock %}
